body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: brown;
}

header h2 {
    margin: 0;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    background-color: black;
    padding: 10px;
    justify-content: space-evenly;
}

nav a {
    color: white;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.mavuika {
    width: 300px;  
    border: thin solid red;
    box-shadow: 5px 5px 5px rgba(250,50,50,75%);  /* Values --> x-coord, y-coord, blur radius and color */
    text-align: center;
    margin: 10px;
}

.mavuika img {
    width: 100%;
}

@media only screen and (max-width: 650px) {  /* This means "only apply this CSS to screens with a max width of 800px or below */
    nav {
        flex-direction: column;
    }

    nav a {
        border-bottom: thin solid white;
        text-align: center;
    }

    .mavuika {
        width: 100%;
    }

    body {
        background-color:bisque;
    }

    .main-mavuika {    /* Changes the order of the cards so that "Center Mavuika" gets places at the top */
        order: -1;
    }
}

@media only screen and (min-width: 650px) and (max-width: 1100px) {  /* This means "only apply this CSS to screens with a max width of 1200px or below */
    nav {
        background-color: WHITE;
    }

    nav a {
        color: black;
    }

    body {
        background-color:black;
        color: WHITE;
    }
}

