header {
    color: BLACK;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.border {
    margin: 5px auto;
    border: thin solid BLACK;
    background-color:bisque;
    justify-content: center;
    border-collapse: collapse;

}

.border th, .border td {
    border: thin solid WHITE;
    padding: 10px;
    background-color:darkolivegreen;
}

.engagement {
    color: BLACK;
}

.engagement li {
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}

.engagement blockquote {
    font-style: normal;
}

footer {
    color: black;
}