nav a {
    color:blueviolet;
}

.current {
    color: crimson;
}

header h3 {
    color:cornsilk;
    background-image: url("jungle.jpg");
}

.list {
    list-style-image: url("pin.png");
}

body {
    background-image: url("flag.png");
    background-repeat: no-repeat;
    background-position: center;
}